.navbar-toggler[b-nahu3elicb] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-nahu3elicb] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-nahu3elicb] {
    min-height: 3.5rem;
    background-color: transparent;
}

.top-row .container-fluid[b-nahu3elicb] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand[b-nahu3elicb] {
    font-size: 1.3rem;
    color: #000 !important;
    font-weight: 700;
}

.bi[b-nahu3elicb] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
    filter: brightness(0);
}

.bi-house-door-fill-nav-menu[b-nahu3elicb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-bar-chart-line-fill-nav-menu[b-nahu3elicb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-bar-chart-line-fill' viewBox='0 0 16 16'%3E%3Cpath d='M1 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14v-1H1z'/%3E%3Cpath d='M10 10.5a.5.5 0 0 0 .5-.5V6h1a.5.5 0 0 0 .374-.832l-2-2.3a.5.5 0 0 0-.748 0l-2 2.3A.5.5 0 0 0 7.5 6h1v4a.5.5 0 0 0 .5.5zM4.5 12a.5.5 0 0 0 .5-.5V9h1a.5.5 0 0 0 .374-.832l-1.5-1.8a.5.5 0 0 0-.748 0l-1.5 1.8A.5.5 0 0 0 3 9h1v2.5a.5.5 0 0 0 .5.5zm8 0a.5.5 0 0 0 .5-.5V8h1a.5.5 0 0 0 .374-.832l-1.5-1.8a.5.5 0 0 0-.748 0l-1.5 1.8A.5.5 0 0 0 11 8h1v3.5a.5.5 0 0 0 .5.5z'/%3E%3C/svg%3E");
}

.bi-box-seam-nav-menu[b-nahu3elicb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-box-seam' viewBox='0 0 16 16'%3E%3Cpath d='M8.186.113a.5.5 0 0 0-.372 0L1.5 2.5 8 4.938 14.5 2.5 8.186.113zM15 3.438l-6.5 2.437V15l6.5-2.438V3.438zM7.5 15V5.875L1 3.438v9.124L7.5 15z'/%3E%3C/svg%3E");
}

.nav-item[b-nahu3elicb] {
    font-size: 1.05rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-nahu3elicb] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-nahu3elicb] {
        padding-bottom: 1rem;
    }

    .nav-item[b-nahu3elicb]  .nav-link {
        font-size: 1.05rem;
        color: #000;
        font-weight: 700;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-nahu3elicb]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: #000;
}

.nav-item[b-nahu3elicb]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: #000;
}

.nav-scrollable[b-nahu3elicb] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-nahu3elicb] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-nahu3elicb] {
        display: none;
    }

    .nav-scrollable[b-nahu3elicb] {
        display: block;
        height: auto;
        overflow-y: visible;
        padding: 0.5rem 0.75rem;
    }

    .nav-scrollable nav[b-nahu3elicb] {
        flex-direction: row !important;
        gap: 0.5rem;
        align-items: center;
    }

    .nav-item[b-nahu3elicb] {
        padding-bottom: 0;
    }

    .nav-item:first-of-type[b-nahu3elicb],
    .nav-item:last-of-type[b-nahu3elicb] {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-item[b-nahu3elicb]  .nav-link {
        height: 2.5rem;
        line-height: 2.5rem;
        width: auto;
        padding: 0 0.75rem;
    }
}
